/* Centra el contenedor del logo (aplícalo al contenedor padre en tu estructura) */
.header {
    display: flex;
    align-items: center;
    background-color: rgba(131, 42, 42, 0.2); /* Color de fondo opcional */
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    border-radius: 25px;
}

/* Controla tamaño de  imagen-SENA */
.logo img {
    height: 75px;          /* Altura */
    width: auto;           /* Mantiene la proporción original */
    margin: 20px;   /* Margen inferior */
}
body {
        /* ruta de imagen */
    background-image: url('../assets/fondo3.png');

    /* imagen se repite en todas las direcciones */
    background-repeat: repeat-y;

    /* tamaño de la imagen (primero ancho y luego largo) */
    background-size: 100% auto;
}